footer {
  .copyright {
    @include basic;
    display: flex;
    line-height: 3em;
    font-size: 0.7rem;
    color: #BABABA;
    justify-content: center;
    a {
      &:hover {
        color: $hover-color;
      }
    }
  }
}
