header {
  color: $dead-color;
  margin-bottom: 15px;
  .header-container {
    @include basic;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    .logo {
      color: $main-color;
    }
    .right-header {
      li {
        list-style: none;
        display: inline-block;
        padding: 0 17px;
      }
      .nav-item {
        a:hover{
            color: $hover-color;
            transition: $transition;
        }
        .active {
          color: $hover-color;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-phone) {
  header {
    .header-container{
        padding: 0 4%;
    }
    .right-header {
      li.nav-item {
        padding: 0;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
