#archive {
//   width: 1000px;
  .content {
    // @include left-container;
    width: 100%;
    align-self: flex-start;
    .year-list {
      border-bottom: 1px solid $line-separator;
      h3 {
        margin: 0 0 5px;
        color: $dark-color;
      }
      ul {
        font-size: 14px;
        margin: 0;
        padding-left: 0;
        li {
          list-style: none;
          line-height: 2;
          time {
            display: inline-block;
            font-weight: 200;
            text-align: right;
            color: $dead-color;
            width: 107px;
          }
          a {
            margin-left: 10px;
            color: $dark-color;
            font-weight: 400;
            transition: $transition;
            &:hover {
              color: $hover-color;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  #archive {
    // width: 1000px;
  }
}

@media (max-width: $breakpoint-desktop) {
  #archive {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: $breakpoint-phone) {
  #archive {
    padding: 0;
    .content {
      width: 100%;
    }
  }
}
